body{ background-image:url("img/blue.png");
    padding-top: 18%;
    padding-left: 40%;
   
}
.email{padding-left: 8%;
    padding-top: 2%;
align-items: center;
}
.password
{
    padding-left: 8%;
}
.heading{
    padding-left: 41%;
    padding-top: 18%;

}
.submit{
    padding-left: 15%;
}