
.Log in {
    background-color: rgb(131, 161, 173);
    font-size: larger;
}
.google{align-items: center;
    height: 100%;
    background-color: antiquewhite;
}
body {
	font:sans-serif;
}
.login-page {
	justify-content: center;
	display: flex;
	height: 100vh;
	align-items: center;
	background-image:url('img/login.jpg');
	border-width: 10%;
	border-radius: 4%;
	border-color: #040606;
	
	
}
.login-form{
	align-items: center;
	background-color: #3a6f7e;
    border-style: dotted;
}
input {
	font-size: 19px;
	width: 71%;
	height: 40px;
	border: black;
	padding-left: 11px;
	outline: none;
	box-shadow: 0 4px 8px 0 rgba(148, 148, 148, 0.19),
		0 6px 20px 0 rgba(165, 165, 165, 0.19);
}
.login-form {
	text-align: center;
	width: 50%;
	color: #040606;
	font-weight: bold;
}
.login-form h3 {
	font-size: 20px;
}
form {
	width: 60%;
	margin-bottom: 20px;
	margin: auto;
}
#spanLoading {
	display: none;
}
#error {
	font-size: 13px;
	color: rgb(77, 110, 118);
	text-align: justify;
}
#errorPwd {
	font-size: 12px;
	color: red;
	text-align: justify;
}
.google {
	margin-top: 20px;
	background-color: #326a75;
	
}
.google span {
	font-size: 16px;
	margin-left: 10px;
	border-style:dotted ;
	border-radius: 2%;
}

.log-in {
	margin-top: 28px;
}
.log-in p {
	margin-top: 10px;
}
.category{text-align:center;
	width: 55%;
	color: #1590a9;
	font-weight: bold;
align-items: center;
padding-left: 20%;


}
