
/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);*/
*:focus {
    outline: none;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: #87bdd6;
    font-size: 16px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  #login-box {
	background-image: url('img/logo.gif.gif');
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 400px;
    background: #6c99b5;
    border-radius: 2px;
	border-style: dashed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  .forgot{
	padding-top: 15%;
  }
  
  .left {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
  }
  
  h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
  }
  
  input[type="text"],
  input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
  }
  
  input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
  }
  
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  .or {
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
  }
  
  .right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background: url('https://goo.gl/YbktSj');
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
  }
  
  .right .loginwith {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #FFF;
    text-align: center;
  }
  
  
  button.social-signin {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
  }
  button.sign-up{margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;

  }
  
  button.sign-up:hover,
  button.sign-up:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  
  button.sign-up:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }

  
  button.sign-up.google {
    background: #DD4B39;
  }
  button.social-signin:hover,
  button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  
  button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }

  
  button.social-signin.google {
    background: #DD4B39;
  }
  button.forgotpassword{margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;

  }
  button.forgotpassword:hover,
  button.forgotpassword:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  
  button.forgotpassword:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }

  
  button.forgotpassword.google {
    background: #DD4B39;
  }
/* .Log in {
    background-color: rgb(131, 161, 173);
    font-size: larger;
}
.google{align-items: center;
    height: 100%;
    background-color: antiquewhite;
}
body {
	font:sans-serif;
}
.login-page {
	justify-content: center;
	display: flex;
	height: 100vh;
	align-items: center;
	background-image:url('img/login.jpg');
	border-width: 10%;
	border-radius: 4%;
	border-color: #040606;
	
	
}
.login-form{
	align-items: center;
	background-color: #3a6f7e;
    border-style: dotted;
}
input {
	font-size: 19px;
	width: 71%;
	height: 40px;
	border: black;
	padding-left: 11px;
	outline: none;
	box-shadow: 0 4px 8px 0 rgba(148, 148, 148, 0.19),
		0 6px 20px 0 rgba(165, 165, 165, 0.19);
}
.login-form {
	text-align: center;
	width: 50%;
	color: #040606;
	font-weight: bold;
}
.login-form h3 {
	font-size: 20px;
}
form {
	width: 60%;
	margin-bottom: 20px;
	margin: auto;
}
#spanLoading {
	display: none;
}
#error {
	font-size: 13px;
	color: rgb(77, 110, 118);
	text-align: justify;
}
#errorPwd {
	font-size: 12px;
	color: red;
	text-align: justify;
}
.google {
	margin-top: 20px;
	background-color: #326a75;
	
}
.google span {
	font-size: 16px;
	margin-left: 10px;
	border-style:dotted ;
	border-radius: 2%;
}

.log-in {
	margin-top: 28px;
}
.log-in p {
	margin-top: 10px;
}
.category{text-align:center;
	width: 55%;
	color: #124a56;
	font-weight: bold;
align-items: center;
padding-left: 20%;


} */
