*{ 
    margin: 0;
    padding: 0;

}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 15%;
    border: 6px solid black;
    border-radius: 60px;
}
.navbar{
    display: flex;
}
.nav-list{
   width:70% ;
   background-color: rgb(139, 207, 215);
   display: flex;
   align-items: baseline;
}
.nav-list li{
    list-style: none;
    padding: 7px 8px;



}
.nav-list li a:hover{
    text-decoration: none;
    color:grey(167, 99, 16);


}
.rightNav{
    background-color: rgb(17, 137, 97);
    width: 50%;
    text-align: right;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid brown;
    border-radius: 9px;


}
.background{
    background: rgbs(0,0,0,0.7)url('../img/doctor.jpg');
}
.Log in {
    background-color: blanchedalmond;
    
}
.google{align-items: center;
    height: 30%;
    background-color: antiquewhite;
}