*{ 
    margin: 0;
    padding: 0;

}
 body{
    background-image: url("img/doctor.jpg")  ;
    background-color: beige;
} 

nav {
    background-color: #4ca2af;
    overflow: hidden;
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
nav a {width: 80px;;
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav a:hover {
    background-color: #ddd;
    color: #333;
}


.Log in {
    background-color: blanchedalmond;
    font-size: larger;
}
.google{align-items: center;
    height: 30%;
    background-color: antiquewhite;
}
.rightNav{
    align-items: right;
}
.about{
    
}